{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!
{% endblock %}

{% block body %}


	<div class="container py-3">

		<h1>
			Toutes les Recettes
		</h1>


		<ul>
			{% for recipe in recipes %}

				<li>

					<a href="{{ path('app_main_show', {id : recipe.id , slug : recipe.slug } )}}">
					
						{{ recipe.title }}

					</a>

				</li>

			{% endfor %}
		</ul>

	</div>


{% endblock %}
