{% extends 'admin/admin.html.twig' %}


{% block title %}Création nouvelle Recette
{% endblock %}

{% block body %}


	<div class="container py-3">

		<h1>
			Création nouvelle Recette
		</h1>


		{{ form_start(form) }}

		<div class="row">

			<div class="col">

				{{ form_row(form.title) }}
			</div>


		</div>

		{{ form_end(form) }}

		<button class=" btn btn-info">
			<a href="{{ path('admin_app_recipe' )}}">Retour</a>
		</button>


	{% endblock %}
